<html>
<head>
    <title>CODEIITA</title>
    <link rel="icon" href="/images/codiita.png" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Kufam:wght@600&display=swap" rel="stylesheet">
    <!-- <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css"> -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <style>
        body{
            background-color: #B61924;
            overflow: hidden;
        }
        .mid{
            transform:translate(0px,170px);
            padding: 15px 30px 10px 30px;
            border: 3px solid #EEEEEE;
            border-radius: 10px;
            background-color: #EEEEEE;
        }
    </style>
</head>
<body  id="particles-js">
<%- include("partials/header"); %>
<div class="container ">
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4 mid">
            <form action="/signup" method="POST">
                <h2 style="transform: translate(60px,-10px);">S I G N - U P<br></h2>
                <div class="form-group">
                    <input class="form-control" type="text" name="username" placeholder="Username">
                </div>
                <div class="form-group">
                    <input class="form-control" type="password" name="password" placeholder="Password">
                </div>
                <div class="form-group">
                    <input class="form-control" type="email" name="email" placeholder="E-MAIL">
                </div>
                <img height="10%" src="/images/avatar/elyse.png">
                <img height="10%" src="/images/avatar/kristy.png">
                <img height="10%" src="/images/avatar/matthew.png">
                <img height="10%" src="/images/avatar/molly.png"><br><br>
                <select class="form-control" name="avatar" id="">
                    <option value="elyse.png" >Avatar 1</option>
                    <option value="kristy.png" >Avatar 2</option>
                    <option value="matthew.png" >Avatar 3</option>
                    <option value="molly.png" >Avatar 4</option>
                </select>
                <div class="form-group">
                    <input type="submit" class="btn btn-primary" style="transform: translate(127px,7px)" value="Signup">
                </div>
            </form>
            
        </div>
        <div class="col-md-4"></div>
    </div>
</div>

<script type="text/javascript" src="/javascript/particles.js"></script>
<script type="text/javascript" src="/javascript/app.js"></script>
<%- include("partials/footer"); %>